.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 36px;
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  cursor: pointer;
}

.content {
  z-index: 3;
  overflow: auto;
  border: 1px solid #e6e6e6;
  border-radius: 16px;
  padding: 24px;
  min-width: 600px;
  box-shadow: 0 10px 40px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  background-color: #f8f8f8;
}
