@import '../../scss/reset';

.loginModalContent {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 10px;
    font-size: 28px;
    text-align: center;

    @extend .header-reset;
  }

  &__input {
    display: block;
    margin-bottom: 10px;
    border: 1px solid var(--light-gray-color);
    border-radius: 5px;
    padding: 10px;
    width: 100%;

    @extend .input-reset;
  }

  &__btn {
    margin-left: auto;
    border-radius: 5px;
    padding: 10px 12px;
  }
}

.error {
  border-color: var(--danger-color);
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

@keyframes shake {
  8%,
  41% {
    transform: translateX(-8px);
  }

  25%,
  58% {
    transform: translateX(8px);
  }

  75% {
    transform: translateX(-4px);
  }

  92% {
    transform: translateX(4px);
  }

  0%,
  100% {
    transform: translateX(0);
  }
}
