@import '../../scss/reset';

.settingBar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__group {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__input {
    border: 1px solid var(--light-gray-color);
    border-radius: 5px;
    padding: 3px;
    transition: border-color var(--transition);

    &:focus {
      outline: none;
      border-color: var(--accent-color);
    }

    @extend .input-reset;
  }
}
