.toolbar {
  display: flex;
  justify-content: space-between;

  &__btn {
    width: 30px;
    height: 30px;
  }

  &__btns {
    display: flex;
    gap: 10px;

    @media (max-width: (576px)) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
  }
}
