@import '../../../../scss/reset';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
  transition: border-color var(--transition), transform var(--transition),
    box-shadow var(--transition);

  @media (any-hover: hover) {
    &:hover {
      box-shadow: var(--button-shadow);
      transform: translateY(-1px);
    }
  }

  @extend .btn-reset;
}

.default {
  border-color: var(--light-gray-color);
  background-color: transparent;
}

.danger {
  border-color: var(--danger-color);
}

.success {
  border-color: var(--success-color);
}

.active {
  border-color: var(--accent-color);
  box-shadow: var(--button-shadow);
  transform: translateY(-1px);
}
