.canvas {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  height: calc(100vh - 120px);

  &__inner {
    position: fixed;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;

    &:focus {
      outline: none;
    }
  }
}

.loader {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  inset: 0;
}
