.canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);

  &__inner {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
  }
}
