@import '../../../scss/reset';

.imgBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-gray-color);
  border-radius: 5px;
  padding: 5px;
  transition: border-color var(--transition), transform var(--transition),
    box-shadow var(--transition);

  &:hover {
    box-shadow: var(--button-shadow);
    transform: translateY(-1px);
  }

  @extend .btn-reset;
}

.active {
  border-color: var(--accent-color);
  box-shadow: var(--button-shadow);
  transform: translateY(-1px);
}
