@import '../../../scss/reset';

.colorPicker {
  border: 1px solid var(--light-gray-color);
  border-radius: 5px;
  width: 30px;
  height: 30px;
  transition: border-color var(--transition), transform var(--transition),
    box-shadow var(--transition);
  cursor: pointer;

  &:focus {
    border-color: var(--accent-color);
    box-shadow: 2px 2px 4px 0 rgb(34 60 80 / 20%);
    transform: translateY(-1px);
  }

  &:hover {
    box-shadow: 2px 2px 4px 0 rgb(34 60 80 / 20%);
    transform: translateY(-1px);
  }

  @extend .input-reset;
}
