.usersListItem {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px 10px;
  width: 100%;
  font-size: 16px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__desc {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  @media (max-width: (576px)) {
    padding: 10px 5px;
  }
}
