@import './vars';
@import './reset';

html {
  height: 100%;
  box-sizing: border-box;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  max-width: 100vw;
  font-size: 16px;
  background-color: var(--bg-color);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}